.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
    max-height: 80%;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.inputGroup {
    margin-bottom: 20px;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gender-button, .class-type-button, .health-button {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gender-button.selected, .class-type-button.selected, .health-button.selected {
    background-color: #59cfb6;
    color: white;
}

.gender-button:not(.selected), .class-type-button:not(.selected), .health-button:not(.selected) {
    background-color: #f0f0f0;
    color: black;
}


.customDatePicker {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    position: relative;
  }
  
  
  
  .inputGroup :is(.customDatePicker:focus, .customDatePicker:not(:placeholder-shown))~.dateLabel {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
  }
  
  .customDatePicker:focus {
    border-color: rgb(1, 168, 168);
  }
