.medicalInfoForm {
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .medicalInfoForm h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .medicalInfoForm label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }


  /*radio button*/

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 5px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #00b1a87e;
    font-weight: 600;
  }
  