.createBtn {
  border: 2px solid #59cfb6;
  background-color: #59cfb6;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  margin-left: 300px;
 }
 
 .createBtn  span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
