.input2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin: 20px;
}

.trainees-title {
    text-align: center;
    gap: 10px;
}

.trainees {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #00a18c;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #00a18c;
}

.search__input:focus + .search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #00a18c;
}

.select-container {
    display: inline-block;
    position: relative;
}

.custom-select {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #00a18c;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 14em;
    transition: all ease-in-out 0.5s;
    appearance: none;
    cursor: pointer;
}

.custom-select:hover, .custom-select:focus {
    box-shadow: 0 0 1em #00000013;
    background-color: #f0eeee;
    outline: none;
}

.custom-select option:first-child {
    color: #00a18c;
}

.select-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid #00a18c;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select:focus + .select-container::after {
    border-top-color: #00000013;
}
